Source: cgts-client
Priority: extra
Maintainer: Marcela Rosales <marcela.a.rosales.jimenez@intel.com>
Build-Depends: python-setuptools,
               python-all,
               debhelper,
               dh-python,
               python-pbr,
               python-keystoneclient,
               python-fixtures,
               python-httplib2,
               python-dateutil,
               python-neutronclient,
               python-mock
Standards-Version: 3.9.6

Package: cgts-client
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends}
Description: This package contains the cgts-client project.
